config/local.neon
/temp/
/log/
/vendor/
/www/tmp/
/composer.phar

/app/config/config.local.neon

/app/bootstrap.php
/app/cache/

/app/config/config.dev.neon
/app/config/config.prod.neon

/app/config/config.user.neon

/.idea/
/.vscode/

/composer.lock

*~
*.swp
*.swo
*.bak
*.old

/phpunit.xml
/phpunit.xml.dist

/tester.phar
/tests/
