{block content}
    <nav class="navbar text-light shadow sticky-top nav justify-content-between"
         style="border: #16181b solid 10px; background-color: #16181b">
        <div class="container">

            <div class="col">
                <h2>
                    <a class="link-underline-opacity-0 link-light" href="#">Books</a>
                </h2>
            </div>
            <div class="row align-items-center justify-content-end">
                <div class="col-auto">
                    <h2>
                        <a class="icon-link link-underline-opacity-0 link-light" n:href="Edit:create">
                            <i class="bi bi-file-earmark-plus"></i>
                        </a>
                    </h2>
                </div>
                <div class="col-auto">
                    <h2>
                        <a class="icon-link link-underline-opacity-0 link-light" n:href="Edit:createAuthor">
                            <i class="bi bi-person-add"></i>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
    </nav>

    <div class="container w-75 center block mx-auto pt-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            {foreach $books as $book}
                <div class="col mb-4 ">
                    <div class="card h-100 bg-dark border-5 shadow" style="color: #adb5bd; border-color: #adb5bd">
                        <div class="card-header p-0  btn-edit shadow " style="height: 5rem">
                            <a class="btn btn-primary bold w-100 h-100"
                               style="border-radius: 0; display: flex; align-items: center; justify-content: center;"
                               href="{link Book:show $book->id}">
                                <h5 class="">{$book->name}</h5>
                            </a>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-center text-center">
                            {foreach $authors as $author}
                                {if $author->id === $book->id_author}
                                    <p><b class="text-light">Author: </b><br>{$author->name} {$author->surname}</p>
                                {/if}
                            {/foreach}
                            <p class="card-text" style=""><b class="text-light">Description:</b><br>{$book->description}
                            </p>
                            <p class="card-text"><b class="text-light">Year:</b> {$book->year} <b class="text-light">
                                        Pages:</b> {$book->pages}</p>
                        </div>
                        <div class="card-footer p-0 btn-edit">
                            <a n:href="Edit:edit $book->id" class="btn btn-primary bold w-100 h-100"
                                                            style="border-radius: 0; display: flex; align-items: center; justify-content: center;">Edit</a>
                        </div>
                    </div>
                </div>
            {/foreach}
        </div>
        <p class="text-center"><a href="#">&#8593 go up &#8593</a></p>

    </div>
{/block}


<style>


    html {
        font: normal 18px/1.3 Georgia, "New York CE", utopia, serif;
        color: #666;
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
        overflow-y: scroll;
    }

    body {
        background: #3484d2;
        color: #333;
        margin: 2em auto;
        padding: 0 .5em;
        max-width: 600px;
        min-width: 320px;
    }

    a {
        color: #006aeb;
        padding: 3px 1px;
    }

    a:hover, a:active, a:focus {
        background-color: #006aeb;
        text-decoration: none;
        color: white;
    }

    #banner {
        border-radius: 12px 12px 0 0;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAB5CAMAAADPursXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGBQTFRFD1CRDkqFDTlmDkF1D06NDT1tDTNZDk2KEFWaDTZgDkiCDTtpDT5wDkZ/DTBVEFacEFOWD1KUDTRcDTFWDkV9DkR7DkN4DkByDTVeDC9TDThjDTxrDkeADkuIDTRbDC9SbsUaggAAAEdJREFUeNqkwYURgAAQA7DH3d3335LSKyxAYpf9vWCpnYbf01qcOdFVXc14w4BznNTjkQfsscAdU3b4wIh9fDVYc4zV8xZgAAYaCMI6vPgLAAAAAElFTkSuQmCC);
    }


    h1 {
        font: inherit;
        color: white;
        font-size: 50px;
        line-height: 121px;
        margin: 0;
        padding-left: 4%;
        background: url(https://files.nette.org/images/logo-nette@2.png) no-repeat 95%;
        background-size: 130px auto;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .9);
    }

    @media (max-width: 600px) {
        h1 {
            background: none;
            font-size: 40px;
        }
    }

    #content {
        background: white;
        border: 1px solid #eff4f7;
        border-radius: 0 0 12px 12px;
        padding: 10px 4%;
        overflow: hidden;
    }

    h2 {
        font: inherit;
        padding: 1.2em 0;
        margin: 0;
    }

    img {
        border: none;
        float: right;
        margin: 0 0 1em 3em;
    }

</style>
